<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodgem</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<style>
    #game {
        width: 100vw;
        height: 100vh;
    }

    .map-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map-space {
        flex-grow: 1;
        width: 100%;
    }

    .map {
        border: 2px solid black;
    }

    .map_block {
        width: 7rem;
        height: 7rem;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 4px solid black;
    }

    .circle-black {
        background-color: black;
    }
</style>

<body>
    <div id="game">
        <div class="map-wrapper">
            <div class="map-space" @click="playerMoveEdge()"></div>
            <div class="map">
                <div v-for="(_y, y) in depth" class="d-flex">
                    <div v-for="(_x, x) in depth" class="map_block">
                        <div v-if="isWhite(x, y)" @click="playerPick(x, y)" class="circle"></div>
                        <div v-else-if="isBlack(x, y)" class="circle circle-black"></div>
                        <div v-else @click="playerMove(x, y)" class="w-100 h-100"></div>
                    </div>
                </div>
            </div>
            <div class="map-space" @click="playerMoveEdge()"></div>
        </div>
        <div v-if="showModal" class="modal fade show d-block" data-bs-backdrop="static" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h5>Chọn lượt chơi của bạn</h5>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" @click="turn = 'W'; showModal = false">Đi trước</button>
                        <button type="button" class="btn btn-danger" @click="turn = 'B'; showModal = false">Đi sau</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/vue@next"></script>
<script>
    // var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})
    // myModal.toggle()
    const Game = {
        data() {
            return {
                showModal: true,
                turn: undefined,
                depth: 3,
                blackPoints: [
                    [-10, -25, -40],
                    [-5, -20, -35],
                    [0, -15, -30],
                ],
                whitePoints: [
                    [30, 35, 40],
                    [15, 20, 25],
                    [0, 5, 10],
                ],
                blacks: [
                    { x: 0, y: 0 },
                    { x: 0, y: 1 },
                ],
                whites: [
                    { x: 1, y: 2 },
                    { x: 2, y: 2 },
                ],
                state: [
                    [-1, 0, 0],
                    [-1, 0, 0],
                    [0, 1, 1],
                ],
                pick: {},
            }
        },
        watch: {
            turn(value) {
                if (value === 'B') {
                    this.botMove();
                }
            }
        },
        methods: {
            isBlack(x, y) {
                return this.state[y][x] === -1;
            },
            isWhite(x, y) {
                return this.state[y][x] === 1;
            },
            switchTurn() {
                this.turn = this.turn === 'W' ? 'B' : 'W';
                if (this.turn === 'W')
                    console.log('Đến lượt của bạn')
                else
                    console.log('Chờ máy...')
            },
            botMove() {
                // minimax here
                setTimeout(() => this.switchTurn(), 2000);
            },
            playerPick(x, y) {
                if (this.turn === 'W') {
                    this.pick.x = x;
                    this.pick.y = y;
                }
            },
            playerMove(x, y) {
                // loại bỏ tình huống đi chéo
                if (this.pick.x !== x && this.pick.y !== y) {
                    return;
                }
                // loại bỏ tình huống đi lùi hoặc đi quá 1 ô
                if (Math.abs(this.pick.x - x) > 1 || y - this.pick.y < -1 || y - this.pick.y > 0) {
                    return;
                }
                this.state[this.pick.y][this.pick.x] = 0
                this.state[y][x] = 1;
                this.pick = {};
                this.switchTurn();
            },
            playerMoveEdge() {
                // loại bỏ tình huống chưa đến rìa bản đồ đã ra ngoài bản đồ
                if (this.pick.y !== 0) {
                    return;
                }
                this.state[this.pick.y][this.pick.x] = 0
                this.pick = {};
                this.switchTurn();
            },
            findNextStates(state) {
                
            },
        },
    }

    Vue.createApp(Game).mount('#game')

</script>

</html>